*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
nav{
    height: 80px;
    width: 100%;
    background: rgba(13, 0, 0, 0.399);
    border-bottom: 1px solid rgb(239, 224, 224);
    background-color: black;
}
nav .logo{
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    color: rgb(251, 250, 250);
    padding: 0 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(244, 239, 239);
    padding: 10px 17px;
    border-radius: 3px;
}
a:hover {
    color: rgb(235, 67, 44);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
  color: rgb(232, 231, 241);
  background-color: transparent;
  text-decoration: underline;
}
img{
    width: 100%;
    height: auto 0px;
}
#text{
    position: absolute;
    font-size: 4,8cm;
    color: rgb(254, 250, 250);
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(65, 58, 58);
    bottom: 5px;
    left: 40%;
    top: 500px;
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(14, 14, 13);
    color: white;
}